@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-slate-700;
  }
  body {
    @apply bg-slate-900 text-white;
    font-family: 'Inter', sans-serif;
  }
}

